@font-face {
  font-family: "Wedding";
  src: url("../fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #494c50;
  border-radius: 2px;
}
*::-webkit-scrollbar-track {
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #202124;
  /* font-family: 'Wedding'; */
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  font-family: monospace;
  color: #ffffff;
}

main {
  position: relative;
}

a {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  text-decoration: inherit;
}

button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 40px;
}

header {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  box-sizing: border-box;
  font-size: 100px;
  line-height: 140px;
  font-family: "Wedding";
  color: #35d4c7;
  text-align: center;
  word-wrap: break-word;
  transition: 300ms ease all;
}

header:hover {
  text-shadow: 0 0 5px white;
}

div {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

footer {
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(0deg, rgba(53, 212, 199, 0.05) 0%, rgba(255, 255, 255, 0) 50%); */
}

footer div {
  height: 100px;
  display: flex;
  /* flex-direction: row; */
  background-color: transparent;
  gap: 10px;
  align-items: center;
  transition: 300ms ease all;
}

.github-link img {
  filter: invert(1);
}

.github-profile img {
  transition: 300ms ease all;
  transform: translateX(50%) rotate(270deg);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.github-profile {
  position: absolute;
  opacity: 0;
  transform: translateY(-30%);
}

footer:hover .github-link {
  opacity: 0;
  transform: translateY(30%);
}

footer:hover .github-profile {
  opacity: 1;
  transform: translateY(0);
}

footer:hover .github-profile img {
  transform: translateX(0);
}

.wrap {
  max-width: 980px;
}

.interpreter__preview {
  width: 100%;
}

.interpreter__preview video {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #494c50;
  box-shadow: 0 5px 30px 0 black;
  background: url(../media/img/interpreter-preview.png) no-repeat center;
  background-size: cover;
  transition: 300ms ease all;
  cursor: pointer;
}

.interpreter__preview video:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 20px 0 black;
}

.download {
  padding: 60px 0;
}

.download-offset {
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.download-offset > a {
  z-index: 1;
}

.download-select {
  position: absolute;
  bottom: 40px;
  transition: 600ms ease all;
  opacity: 0;
  color: #35d4c7;
}

.download-select a:hover {
  text-decoration: underline;
}

.download-offset:hover .download-select {
  bottom: 0;
  opacity: 1;
}

.download button {
  font: inherit;
  color: #35d4c7;
  padding: 40px 120px;
  border: 1px solid #35d4c7;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 34px;
  transition: 200ms ease all;
  background: #202124;
}

.download button:hover {
  transform: scale(1.05);
  color: #202124;
  background-color: #35d4c7;
  box-shadow: 0 5px 20px 0 black;
}

.command span:first-child {
  padding-right: 80px;
  color: #35d4c7;
}

/* --------------- SOME ANIME -------------------*/

.anume-left,
.anume-right {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
  width: 30%;
  object-fit: contain;
}

.anume-left {
  /* bottom: 20%;
  transform: translateY(50%); */
  bottom: 0;
  left: 0;
}

.anume-right {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

/* --------------- MEDIA MOBILE ---------------- */

@media screen and (max-width: 768px) {
  header {
    font-size: 60px;
    line-height: 60px;
    /* padding: 30px; */
  }

  body {
    font-size: 14px;
  }

  .download {
    padding: 20px 0;
    width: 100%;
  }

  .download-offset {
    padding: 20px 0;
  }

  .download a {
    width: 100%;
  }

  .download button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .command span:first-child {
    padding-right: 30px;
  }

  ul {
    padding-left: 20px;
  }

  .anume-left,
  .anume-right {
    width: 350px;
  }
}
